<div class="ecl-container">
    <div class="ecl-row">
        <div class="ecl-col-12">
            <main>
                <h2 class="ecl-u-type-heading-2 ecl-u-mv-none">Purpose</h2>
                <p class="ecl-u-type-paragraph ecl-u-mt-m ecl-u-mb-none">
                    This library contains useful components that you can use to build your own website, following DG COMM guidelines.
                </p>

                <p class="ecl-u-type-paragraph ecl-u-mt-m ecl-u-mb-m">All library elements are accompanied by</p>
                <ul eclUnorderedList>
                    <li eclUnorderedListItem>documentation explaining what a component is and how it should be used</li>
                    <li eclUnorderedListItem>a visual demonstration</li>
                    <li eclUnorderedListItem>HTML/CSS code for implementation</li>
                </ul>


                <h2 class="ecl-u-type-heading-2 ecl-u-mt-xl ecl-u-mb-none">eUI/ECL integration</h2>
                <p class="ecl-u-type-paragraph ecl-u-mt-m ecl-u-mb-none">
                    eUI provides <a eclLink href="http://www.angular.io">Angular</a> implementation of <a eclLink href="https://ec.europa.eu/component-library/">ECL components,</a> enabling projects based on angular, get all benefints of having ECL compliant web application.
                </p>

                <p class="ecl-u-type-paragraph ecl-u-mt-m ecl-u-mb-none">
                    It is also possible to use all eUI components in eui/ECL application by importing specific component module
                    or by importing all components pulling UxAllModule / EuiAllModule
                </p>

                <h2 class="ecl-u-type-heading-2 ecl-u-mt-xl ecl-u-mb-none">Documentation</h2>
                <p class="ecl-u-type-paragraph ecl-u-mt-m ecl-u-mb-m">
                    Documentation can be found as live showcase of all components available, as well as other building blocks, such
                    as utility css classes, typography, colors etc.
                </p>

                <ul eclUnorderedList>
                    <li eclUnorderedListItem><a eclLink href="https://ec.europa.eu/component-library">ECL reference documentation</a></li>
                    <li eclUnorderedListItem><a eclLink href="https://eui.ecdevops.eu/">eUI library</a></li>
                </ul>

                <h2 class="ecl-u-type-heading-2 ecl-u-mt-xl ecl-u-mb-none">Support</h2>
                <p class="ecl-u-type-paragraph ecl-u-mt-m ecl-u-mb-none">
                    For support in building a European Commission website using the ECL, please contact <a eclLink href="mailto:Europamanagement@ec.europa.eu">COMM Europa Management</a> (CEM)
                </p>

                <p>For support in building a European Commission website using the eui/ECL integration, please contact
                    <a eclLink href="DIGIT-EUI-SUPPORT@ec.europa.eu">DIGIT eUI Support</a> team.
                </p>

                <h2 class="ecl-u-type-heading-2 ecl-u-mt-xl ecl-u-mb-none">Contact</h2>

                <dl eclDescriptionList [isHorizontal]="true" class="ecl-u-mt-m">
                    <dt eclDescriptionListTerm>Microsoft Teams</dt>
                    <dd eclDescriptionListDefinition>
                        <a eclLink href="https://teams.microsoft.com/l/team/19%3a2f5bb6b7d1e24c4aabaa62229d3e1955%40thread.tacv2/conversations?groupId=fb6def72-c57b-4e8f-a82e-49be65d6e1f5&tenantId=b24c8b06-522c-46fe-9080-70926f8dddb1">
                            https://teams.microsoft.com
                        </a>
                    </dd>

                    <dt eclDescriptionListTerm>DIGIT eUI Support</dt>
                    <dd eclDescriptionListDefinition>
                        <a eclLink href="mailto:DIGIT-EUI-SUPPORT@ec.europa.eu">DIGIT-EUI-SUPPORT@ec.europa.eu</a>
                    </dd>

                    <dt eclDescriptionListTerm>COMM Europa Management</dt>
                    <dd eclDescriptionListDefinition>
                        <a eclLink href="mailto:Europamanagement@ec.europa.eu">Europamanagement@ec.europa.eu</a>
                    </dd>
                </dl>
            </main>
        </div>
    </div>
</div>